*{
    margin: 0px;
}

html{
    height: 100%;
    background-image: linear-gradient(#0046ae, #9198e5);
}

.bigpart{
    height: 400px;
    width: 270px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin: 150px auto ;
    border-radius: 5%;
    box-shadow: 5px 5px 8px;
}
.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

li{
    display:inline;
    margin:5px
}
input{
    width: 250px;
    margin-left:7px;
    color:#9198e5
}
pre{
    margin:10px;
    margin-bottom:4px;
    color:white;
    font-weight: bold;
    font-family:Arial
}