*{
    margin: 0px;
}

html{
    height: 100%;
    background-image: linear-gradient(#0046ae, #9198e5);
}

.bigpart{
    height: 400px;
    width: 270px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    margin: 150px auto ;
    border-radius: 5%;
    box-shadow: 5px 5px 8px;
}

.song-name{
    font-family: sans-serif;
    
    text-align: center;
    font-family: Arial;
    color: #ffffff;
}
.song-writer{
    font-family: sans-serif;
    transition:0.5s;
    text-align: center;
    color:#666666;
    text-shadow: 3px 3px 5px;
}
.song-writer:hover{
    color:#2e2e2e;
    cursor: pointer;
    

}